/**

 * @format
 */
/*
 * For Small Laptops
 *     below 1450px (smaller desktop)
 */
@media (max-width: 84.375em) {
  .hero {
    max-width: 120rem;
  }
  .hero-heading {
    font-size: 4.4rem;
  }
}

/*
* For landscape tablets
*     below 1200px (landscape tablets)
*/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .meals {
    column-gap: 6.8rem;
  }
  .subscription {
    gap: 4.8rem;
  }
  .call-to-section {
    padding: 0rem 4.8rem 9.6rem 4.8rem;
  }
  .section-subtitle {
    font-size: 3.2rem;
  }
}

/*
* For tablets
*     below 944px (tablets)
*/
@media (max-width: 59em) {
  html {
    /* 1rem= 16px / 8px = 0.5rem = 50%  */
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-image img {
    width: 60%;
  }
  .hero-text-bob,
  .hero-image {
    text-align: center;
  }
  .delivered {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .h-i-w-number {
    font-size: 4.8rem;
  }
  .how-it-work-sec-title {
    font-size: 2.4rem;
  }
  .testimonials-container {
    grid-template-columns: 1fr;
  }
  .testimonial-gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .testimonial-right-side {
    padding: 2.4rem;
  }
  .testimonial-left-side {
    padding: 0 4.8rem;
  }
}
/*
* - Spacing system (px)
* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
* - Font sizes (px)
* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
* 
*/
